.custom-padding {
	padding-left: 20px;
	background: red;
}
.textarea {
	width: 100%;
	height: 400px;
	font-size: 14px;
	line-height: 18px;
	border: 1px solid #dddddd;
	padding: 10px;"
}
.input-feedback {
	width: 100%;
	border: 0px;
}
